.sidebar {
  background-color: #097969;
  color: #fdebd0;
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adds space between items in the sidebar */
}

h1 {
  color: #90bfc5;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  color: #fdebd0;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  transition: color 0.3s ease; /* Smooth transition effect */
}

nav a:hover, nav a.active {
  text-decoration: underline;
  font-weight: bold; /* Emphasizes the active link */
}

.content {
  margin-left: 270px; /* Adjusts for the fixed sidebar width */
  padding: 40px;
  max-width: 800px; /* Limits the width of content for readability */
}

h2 {
  color: #097969;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 20px;
}

h3 {
  color: #6e9296;
  font-weight: 400;
  font-size: 2em;
  margin-top: 40px;
}

p {
  font-weight: 200;
  font-size: 1.2em; /* Adjusted for readability */
  line-height: 1.6;
  margin-bottom: 20px;
}

nav a.active {
  color: #90bfc5; /* Highlights the active section title */
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}
